<div align="center">
  <div class="col-md-4">
    <div class="message">
      <h2 class="message-title"> Vereadores </h2>
      <li><%= link_to "Baixar CSV Tabela Vereadores", "/vereadores_201912011611.csv" %></li>

      <li>
        <a href="/create_table_vereadores.sql" download="create_table_vereadores.sql">
          Baixar SQL Create Table Vereadores
        </a>
      </li>
    </div>
  </div>

  <div class="col-md-4">
    <div class="message">
      <h2 class="message-title"> Sessoes </h2>
    </div>
      <li><%= link_to "Baixar CSV Tabela Sessoes", "/sessoes_201912011636.csv" %></li>

      <li>
        <a href="/create_table_sessoes.sql" download="create_table_sessoes.sql">
          Baixar SQL Create Table Sessoes
        </a>
      </li>
  </div>

  <div class="col-md-4">
    <div class="message">
      <h2 class="message-title"> Presenças </h2>
    </div>
      <li><%= link_to "Baixar CSV Tabela Presenças", "/presencas_201912011637.csv" %></li>
      <li>
        <a href="/create_table_presencas.sql" download="create_table_presencas.sql">
          Baixar SQL Create Table Presenças
        </a>
      </li>
  </div>

  <div class="col-md-4">
    <div class="message">
      <h2 class="message-title"> Remunerações </h2>
    </div>
      <li><%= link_to "Baixar CSV Tabela Remunerações", "/remuneracoes_201912011637.csv" %></li>
      <li>
        <a href="/create_table_remuneracoes.sql" download="create_table_remuneracoes.sql">
          Baixar SQL Create Table Remunerações
        </a>
      </li>
  </div>

  <div class="col-md-4">
    <div class="message">
      <h2 class="message-title"> Matérias Legislativas </h2>
    </div>
      <li><%= link_to "Baixar CSV Tabela Matérias", "/materias_201912011637.csv" %></li>
      <li>
        <a href="/create_table_materias.sql" download="create_table_materias.sql">
          Baixar SQL Create Table Matérias
        </a>
      </li>
  </div>

  <div class="col-md-4">
    <div class="message">
      <h2 class="message-title"> Verbas Indenizatórias </h2>
    </div>
      <li><%= link_to "Baixar CSV Tabela Verbas Indenizatórias", "/verbas_indenizatorias_201912011637.csv" %></li>
      <li>
        <a href="/create_table_verbas.sql" download="create_table_verbas.sql">
          Baixar SQL Create Table Verbas Indenizatórias
        </a>
      </li>
  </div>
</div>
